{% extends 'layout.html' %}

{% block content %}
{% if page == 'login' %}
<div>
    <form action="{% url 'base:login' %}" method="post">
        {% csrf_token %}
        <label for="">Username</label>
        <input type="text" value="username" name="username" placeholder="Username">
        <input type="password" value="password" name="password" placeholder="Placeholder">
        <input type="submit" id="" value="login">
    </form>

</div>

{% else %}
<div>
    <form action="{% url 'base:register' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" id="" value="Register">
    </form>

</div>

{% endif %}


{% endblock %}