<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group</title>
</head>
<body>
    <style>
        .group-container{
            display: grid;
            grid-template-columns:3fr 1fr;
        }
    </style>
    <div class="group-container"> 
        <div>
            <h1>Group page</h1>
            <br>
            <h1> {{group.name}}</h1>
        <p>{{group.description}}</p>
        <hr>
        <div>
            <h2>Conversations</h2>
            {% for message in messages %}
            <div>
                <p> <b> {{message.user}}</b>  <span>{{message.created|timesince}}</span></p>
            
                <p>{{message.body}}</p>
                {% if request.user == message.user%}
                    <a href="{% url 'base:delete_message' message.id %}">DELETE</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form action="" method = "post">
            {% csrf_token %}
            <input type="text" name = 'body' placeholder="Write your message here..">
        </form>
        </div>
        {% endif %}
        </div>
        <div>
            <h2>Participants:</h2>
            {% for participant in participants %}
               <p> {{participant.username}}</p>
            {% endfor %}
        </div>
    </div>

</body>
</html>