{% extends 'layout.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Homepage
        {% endblock %}
    </title>
</head>
<body>
{% block content  %}
    <!-- {% include 'nav.html' %} -->
    <h1>Home Pages</h1>
    <a href="/group/update-group/{{group.id}}">Create group</a>
    {% for group in groups %}

    <p>Group ID: <a href="/group/{{group.id}}">{{group.id}}</a> , Name: {{group.name}}</p>
    <a href="">Update</a>
    {% endfor %}


    {% endblock %}
</body>
</html>